<div class="container">
  <div class="jumbotron bg-light text-center text-white p-4 p-sm-5 my-4 rounded">
    <h1 class="display-4">AlphaBlog</h1>
    <p class="lead">This is a boxing blog.
    </p>
    <hr class="my-4">
    <p>Check it out</p>
    <a class="btn btn-success btn-lg" href="#" role="button">Signup</a>
  </div>
</div>